// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.day {
	border: solid black 1px;
}

.today {
	background-color: yellow; 
}

.form-for {
	margin-top: 5px;
	margin-bottom: 5px; 
}